doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      header
        p Alex's jit-su Sample environment
    div#contents    
      block content
      block footer
    footer
      p Later it'll be constant data here. To be repeated...